body {
	margin: 0;
	padding: 50px 0 0 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #666;
}

.navigation {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	transition: top .2s ease-in-out;
	background: #333;
	color: white;
}

.is-hidden {
	top: -50px;
}

.is-visible {
	color:green;
}

.is-top {
	color:red;
}

.is-bottom {
	top:0;
	color: yellow;
}
